<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offser-lg-4 offset-md-2">
                <div class="panel border bg-white">
                    <div class="panel-header">
                        <h3 class="pt-3 font-weight-bold">
                            Login  
                        </h3>
                    </div>
                    <div class="panel-body p-3">
                        <form action="">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2">
                                        <input type="text" name="" id="" placeholder="User Name">
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>